body {
  background-color: #f5f5f5;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.full-area {
  height: 100%;
  width: 100%;
}

.full-height {
  height: 100%;
  position: fixed;
}

div.center {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.hud-menu {
  width: 400px;
  padding: 20px;
}

div.loginCard {
  width: 300px;
  margin: 0 auto;
  margin-top: 300px;
}

div.loginCardMedia {
  background-color: white;
}

label.mdl-switch {
  width: 40px;
}

.projectsButton {
  position: fixed !important;
  margin-top: 10px;
  margin-left: 10px;
}

.centerSpinner {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.project-selection-button {
  margin-left: 20px !important;
}

div.objectPropertiesCard {
  z-index: 1;
  position: absolute;
  right: 300px;
  width: 300px;
  height: 800px;
  display: none;
  padding-top: 20px;
}

.objectPropertiesIFrame {
  height: 750px;
}
